<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/navbar'); %>

<div class="container-conteudo mx-auto">
   <center>
   <h1> Olá visitante!</h1>
   <p>Seja bem-vindo(a) a loja Full Pet</p>

   </center>
</div><!-- container-conteudo -->
</body>
<footer>
<%- include('../partials/footer'); %>
</footer>
</html>