
<!DOCTYPE html>
<html lang="en">
<head>
 
  <%- include('../partials/head'); %>

</head>
<body>

  <%- include('../partials/navbar'); %>

  <div class="container container-fluid">
    <form class="form-cadastro bg-white" method="POST" action="./php/actions/cadastrar.php">
      <h2>Cadastre-se</h2>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input class="form-control" type="text" name="nome" id="nome" required>
      </div><!-- form-group -->

      <div class="form-group">
        <label for="email">E-mail</label>
        <input class="form-control" type="email" name="email" id="email" required>
      </div><!-- form-group -->

      <div class="input-group input-group-sm mb-3">
        <label for="email">E-mail</label>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>

      <button type="submit" class="btn btn-secondary text-white" name="cadastrar">Cadastrar</button>
     
    </form>
  </div>
  
</body>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</html>

